venv/
env/
*.pyc
__pycache__/

config.json
config.yaml
config_perso.yaml

data/raw/
data/processed/
models/
!models/best_model_2023_metadata.json

.dvc/tmp/
.dvc/cache/
.dvc/state
.dvc/state-journal
.dvc/state-wal
.dvc/state.lock
.dvc/plots/
.dvc/updater
.dvc/updater.lock
.dvc/state-journal.*
.dvc/state-wal.*
.dvc/state.*
.dvc/tmp/*

!.dvc/
!**/*.dvc

tmp/
airflow/logs/
*.csv
